<ul class="nav navbar-nav pull-xs-left">
  <% active = params[:controller] == 'farm/welcome' ? 'active' : '' %>
  <li class="nav-item <%= active %>">
    <%= link_to 'Главная', farm_root_path, class: "nav-link" %>
  </li>
  <% active = params[:controller].in?(['farm/search', 'farm/products']) ? 'active' : '' %>
  <li class="nav-item <%= active %>">
    <%= link_to 'Магазин', farm_search_path, class: 'nav-link' %>
  </li>
  <% active = params[:controller] == 'farm/about' ? 'active' : '' %>
  <li class="nav-item <%= active %>">
    <%= link_to 'Информация', farm_about_path, class: 'nav-link' %>
  </li>
</ul>
