<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'farm/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'farm/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'navbar' %>

    <div class="yield">
      <%= yield %>
    </div>

    <footer class="text-muted m-t-3">
      <div class="container">
        <p class="pull-xs-right">
          <a href="#">Наверх</a>
        </p>
        <p>Бесплатная доставка в радиусе 20 км. при покупке от 2000 руб.</p>
        <p><%= link_to 'Мы находимся по адресу Рогачевское ш. 38 км. д. Федоровка, д.23а. ', farm_about_path %></p>
        <p>Недалеко от Подъячево, Филимоново, Храброво</p>
      </div>
    </footer>

    <!-- TODO is this used? -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <div id="filter-popup-hint"> </div>

  </body>
</html>
