<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'farm/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'farm/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'navbar' %>

    <div class="yield">
      <%= yield %>
    </div>

    <footer class="text-muted m-t-3">
      <div class="container">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- TODO is this used? -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <div id="filter-popup-hint"> </div>
  </body>
</html>
