<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'farm/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'farm/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="container-fluid">
        <%= link_to 'Подъячево', farm_root_path, class: 'navbar-brand' %>
        <%= render 'navbar_nav' %>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <%= link_to '#', class: "nav-link m-l-2 d-inline-block" do %>
              <%= icon 'shopping-cart' %> Корзина
            <% end %>
          </li>
        </ul>
        <%= form_tag farm_search_path, method: 'get', class: 'pull-xs-right form-inline' do %>
          <div class="form-group search-control">
            <%= text_field_tag :q, params[:q], class: 'js-filter-control js-filter-text-input js-filter-search form-control search-control__input', placeholder: 'Введите строку для поиска' %>
            <% if params[:q].present? %>
              <%= link_to '', request.query_parameters.except(:q), class: "search-control__x" %>
            <% end %>
            <%= hash_to_hidden_fields(request.query_parameters.except(:q)) %>
          </div>
          <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        <% end %>

      </form>
      </div>
    </nav>

    <div class="yield">
      <%= yield %>
    </div>

    <footer class="text-muted m-t-3">
      <div class="container">
        <p class="pull-xs-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- TODO is this used? -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <div id="filter-popup-hint"> </div>
  </body>
</html>
