<%= container do %>
  <%= row do %>
    <div class="col-xl-2"></div>
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24 col-xl-20">
      <h2 class="m-b-2">Заказ оформлен</h2>
      <p class="m-b-3 bg-success p-a-1">Благодарим вас за оформление заказа в нашем интернет магазине. В ближайшее время мы с вами свяжемся для согласования заказа. Копию заказа мы отправили на ваш email: <%= @order.email %></p>

      <%= render 'order_products' %>
      <%= render 'order_buyer' %>

    </div>
  <% end %>
<% end %>
