<%= container do %>
  <%= row do %>
    <div class="col-xl-2"></div>
    <div class="col-xs-24 col-lg-24 col-xl-20">

      <%= row do %>
        <h2 class="m-b-2"><%= @meta_title = @product.es_body['title'] %></h2>

        <%= render 'farm/products/breadcrumb' %>

        <%= row do %>
          <div class="col-xs-24 col-xl-16 col-lg-17 vcenter">
            <div style="padding: 0 4rem;">
              <div class="slider slider-for">
                <% if @product.es_body['images'] %>
                  <% @product.es_body['images'].each do |image| %>
                    <%= content_tag :div, class: 'tmp' do %>
                      <%= image_tag(image['big'], class: 'img-fluid', style: 'max-height: 470px', class: 'm-x-auto photo img-fluid')  %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= content_tag :div, class: 'tmp' do %>
                    <%= image_tag('not_available.png', class: 'img-fluid', style: 'max-height: 470px', class: 'm-x-auto photo img-fluid')  %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div><!--
          --><div class="col-xs-24 col-xl-8 col-lg-7 vcenter">
            <div>
              <small class="text-success">
                <%= icon 'check' %>
                Товар в наличии
              </small>
              <h5 class="m-t-0"><%= number_to_currency @product.es_body['price'] %></h5>
              <div>
                <% if farm_product_in_cart? @product.id %>
                  <%= link_to 'Товар в корзине', farm_cart_path, class: 'btn btn-warning m-t-2 m-b-1' %>
                <% else %>
                  <%= link_to farm_cart_path(product_id: @product), class: "js-add-to-cart-button btn btn-success m-t-2 m-b-1", data: {id: @product.id}, remote: true, method: :post do %>
                    <%= icon 'cart-arrow-down m-r-1' %>Добавить в корзину
                  <% end %>
                <% end %>
              </div>

              <div>
                <button type="button" class="btn btn-sm btn-secondary">Задать вопрос</button>
              </div>
              <div class="m-y-2">
                <% if @product.es_body['images'] && @product.es_body['images'].size > 1 %>
                  <strong class="text-muted m-y-1">Другие фото товара</strong>
                  <div class="slider slider-nav m-y-1">
                    <% @product.es_body['images'].each do |image| %>
                      <%= content_tag :div do %>
                        <%= image_tag image['small'], class: 'img-fluid' %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="m-y-2">
              <%= link_to 'Редактировать товар', edit_product_url(@product) %>
              </div>

            </div>
          </div>
        <% end %>

      <% end %>

      <%= row style: 'border-top: 1rem solid #FAFAFA;', class: 'p-t-3 m-b-3' do %>
        <div class="col-xs-24">
          <% @product.es_body['properties'].each do |key, values| %>
            <p><%= options_root(key).children.find(values).map{|v| v.es_body['title']} %></p>
          <% end %>
        </div>
      <% end %>

      <%= row style: 'border-top: 1rem solid #FAFAFA;', class: 'p-t-3 m-b-3' do %>
        <div class="col-xs-24">
          <h4> Возможно вас так же заинтересует </h4>
          aaa
        </div>
      <% end %>

      <%= row style: "border-top: 1rem solid #FAFAFA;", class: 'p-t-3 m-b-3' do %>
        <div class="col-lg-24">
          <h4> Ранее вы просматривали </h4>
          <% @history_products.each do |history_product| %>
            <div><%= history_product %></div>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
<% end %>
