<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Catalog</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trees">Trees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/uploads">Uploads</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-success m-t-1" role="alert"><%= notice %></div>
          <div class="alert alert-danger m-t-1" role="alert"><%= alert %></div>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>

